body {
  background-color: #F0F0F0;
  justify-content: center;
}

:root {
  --bs-black-gray: #545871;
  --bs-gray-gray: #9597a6;
  --bs-gray-white: #dadbe6;
  --bs-white-gray: #f0f1f7;
  --bs-black-red: #b8817d;
  --bs-less-red: #ebd0ce;
  --bs-weak-red: #e6dbda;
  --bs-white-red: #f7eceb;
}


.Card-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  margin: 0.5rem;
}

.Card-container:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 10px 11px 15px -1px;
  background-color: #c4cfdf88;
  cursor: pointer;
  animation: spin 0.5s linear ;
}

@keyframes spin {
  0% { transform: rotateX(0deg); scale: 1;}
  50% { transform: rotateX(30deg); scale: 1.01; border: 1px solid #34acdb88;}
  100% { transform: rotateX(0deg); scale: 1;}
  /* border: 6px solid #343fdb88; */
}

.Card-container:active {
  background-color: #c4cfdf;
}

.Card-container:first-of-type {
  margin-top: var(--l);
}

.Card-story,
.Card-commentSection {
  padding: var(--m) var(--l);
}

.Card-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.Card-storyContent {
  font-size: 16px;
  /* margin: var(--s) 0 0; */
}

.Card-commentSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
}

.Card-commentBody {
  margin: 0 0 var(--s);
}

.btn-story {
  opacity: 0.5;
  
}

.btn-story:hover {
  opacity: 1;
}

.Card-btnDel {
  color: #3a4cee;
  opacity: 0.3;
  margin-right: 0.5rem;
  height: 100%;
}

.Card-btnDel:hover {
  cursor: pointer ;
  opacity: 1;
  animation: delspin 0.5s linear infinite;
}

@keyframes delspin {
  0% { transform: rotateX(0deg) ; scale: 1;}
  50% { transform: rotateX(60deg) ; scale: 2; color: rgb(255, 0, 0); }
  100% { transform: rotateX(0deg) ; scale: 1;}
  /* border: 6px solid #343fdb88; */
}

.CatHappiness-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m);
}

.CatHappiness-container:first-of-type {
  margin-top: var(--l);
}

.CatHappiness-story {
  padding: var(--m) var(--l);
}

.CatHappiness-storyContent {
  font-size: 40px;
  margin: var(--s) 0 0;
}

.NewPostInput-input,
.NewPostInput-button {
  font-family: "Open Sans";
  font-size: 14px;
  padding: var(--s) var(--m);
}

.NewPostInput-input {
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
}

.NewPostInput-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.NewPostInput-button {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
}

.NewPostInput-button:hover {
  color: var(--white);
  background-color: var(--primary);
}

.topnav {
  overflow: hidden;
  background-color: #8996e0;
  color: #000000;
  border: "1px solid #020635";
}

.topnav div {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;

}

.topnav div:hover {
  background-color: #ddd;
  color: rgb(131, 119, 119);
  scale: 1.1;
  font-weight: bold;
}

.topnav div.active {
  background-color: #26378f;
  color: #979cd8;
  scale: 1.1;
  font-weight: bold;
}


.test-bg {
  background-image: url("./../data/testbgImg.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.round-btn:hover {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  background-color: #4B00E055;
}


/* this is review button */
.star-rating {

  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;

}

.star-rating input:checked ~ label {
  color: #4B00E0
}

.star-rating label:hover,

.star-rating label:hover ~ label {
  color: #4B00E0aa
}


/* this is style for toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 50px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-image: url("../data/toggleTrue.svg");
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  /* background-color: white; */
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
.js { background-color: #f44336;}
.php {width: 60%; background-color: #808080;}



/* this is chat page style */
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607EAA;
  color: #F9F5EB;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #8996e0;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #8996ff;

}
.chat__sidebar:hover {
  cursor: pointer;
}

.chat__mainHeader:hover {
  cursor: pointer;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #eeeeee;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #8996e0;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #191970;
  cursor: pointer;
  color: #fff;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #eeeeee;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #F9F5EB;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #EAE3D2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}
.message__recipient {
background-color: #f5ccc2;
width: 300px;
padding: 10px;
border-radius: 10px;
font-size: 15px;
}
.message__sender{
background-color: rgb(194, 243, 194);
max-width: 300px;
padding: 10px;
border-radius: 10px;
margin-left: auto;
font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}